# Exclude virtual environments
venv/
env/

# Exclude temporary files
*.log
*.tmp

# Exclude Pytest cache
.pytest_cache/

# Exclude Python bytecode
__pycache__/
*.pyc
*.pyo

# Exclude artifacts
reports/
tax_reports/
U*.csv
